*.iml
.gradle/
local.properties

# Build outputs
build/
**/build/
captures/
.externalNativeBuild/
**/.externalNativeBuild/
.cxx/
**/.cxx/

# Artifacts
*.apk
*.aar

# IDE & OS files
.DS_Store
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/shelf/
.vscode/
